.post-container {
  width: 500px !important;
}

body {
  background: #eee !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.image {
  height: 450px;
}
.image img{
    object-fit: cover;
}

